.hero-container.relative
  .hero-text
    .col.col-md-12
      %h1 
        TRAVEL THE WORLD 
        %br
        WHILE WORKING REMOTELY
      %h2
        APPLICATIONS NOW OPEN FOR 2017

    .apply-buttons
      .col.col-md-6.offset-md-3
        %a.btn.btn-default{href: 'http://www.remoteyear.com/follow-along/'}
          Follow Us
        %a.btn.btn-default{href: '/application'}
          Apply Now

  .extra-slider
    .wrapper
      %ul
        %li{:style => "background-image: url(#{image_path 'bg/ib-wira-dyatmika-kintamani-indonesia.jpg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/joshua-ness-max-patch-us.jpg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/kelen-emsley-oahu-us.jpg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/omar-yassen-waterloo-edinburgh-uk.jpg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/anubhav-saxena-nyc-us.jpg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/sandis-helvigs.jpg'});"}
        
    / .navigation
    /   %a.prev{:href => "#"} Previous
    /   %a.next{:href => "#"} Next
    / .pagination
  %i.fa.fa-angle-double-down{"aria-hidden" => "true"}


.relative
  .col.col-md-8.offset-md-2.how-we-work
    .explain-section
      Remote Year brings 
      %span 75 people 
      together for
      %span 1 year 
      to work together while exploring 
      %span 12 cities
      in 
      %span 12 months.
      Our community is paving the way for the digital 
      %span nomad 
      lifestyle and shapes the future of 
      %span work.

.relative
  .col.col-md-10.offset-md-1
    .col.col-md-4
      %a{href: 'http://www.remoteyear.com/how-it-works'}
        %img{:alt => "Traveling in a groupd of friends & co-workers", :src => asset_url('75-people.png'), class: 'home-img'}
    .col.col-md-4
      %a{href: 'http://www.remoteyear.com/how-it-works'}
        %img{:alt => "12 incdredible cities, across the gobe", :src => asset_url('12-cities.png'), class: 'home-img'}
    .col.col-md-4
      %a{href: 'http://www.remoteyear.com/how-it-works'}
        %img{:alt => "One Year Abroad, masetering your professional & personal life", :src => asset_url('1-year.png'), class: 'home-img'}

.relative.how-it-works-wrapper
  %a.btn.btn-default{href: 'http://www.remoteyear.com/how-it-works'}
    How it Works

%hr

.relative.apply-btn-wrapper
  .extra-slider.bottom-slider
    .wrapper
      %ul
        %li{:style => "background-image: url(#{image_path 'bg/bot-1.jpeg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/bot-2.jpeg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/bot-3.jpeg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/bot-4.jpeg'});"}
        %li{:style => "background-image: url(#{image_path 'bg/bot-5.jpeg'});"}
    .apply-wrapper
      %a.btn.btn-default{href: '/apply'}
        Apply Now

