.container
  .row.main
    .panel-heading
      .panel-title.text-center
        .h1-black Login
        %hr/

    .col-md-6.offset-md-3
      .authform
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
          %h3= "Sign In or #{link_to 'Sign Up', '/users/sign_up', class: 'right'}".html_safe
          = devise_error_messages!
          .form-group
            %strong
              Email -> 
              %i admin@remoteyear.com
            = f.email_field :email, :autofocus => true, class: 'form-control'
          .form-group
            %br
            %strong 
              Password -> 
              %i password
            = f.password_field :password, class: 'form-control'
          .text-center
            = f.submit 'Sign in', :class => 'btn btn-primary'
            %br

            - if devise_mapping.rememberable?
              = f.check_box :remember_me
              Remember me
            = "//"
            - if devise_mapping.recoverable?
              = link_to "Forgot password?", new_password_path(resource_name), class: 'right'